<!DOCTYPE html>
<html lang="pl">
  <%- include('templates/header') %>
  <body>
    <%- include('templates/navbar') %> <%- include('templates/toast') %>
    <div class="container-lg mt-1">
      <div class="row">
        <div class="col-9 table">
          <table
            border="1"
            class="tabelka">
            <thead>
              <tr>
                <th>Lp.</th>
                <th>Tytuł</th>
                <th>Kategoria</th>
                <th>Autor</th>
                <th>Biblioteka</th>
                <th>Kod</th>
                <th>Data wypożyczenia</th>
                <th>Data zwrotu</th>
                <th>Oddano</th>
                <th>Zwróć książkę</th>
              </tr>
            </thead>
            <tbody>
              <% wypozyczenia.forEach((wypozyczenie, index) => { %>
              <tr>
                <td><%= index + 1 %></td>
                <td><%= wypozyczenie.tytul %></td>
                <td><%= wypozyczenie.kategoria %></td>
                <td><%= wypozyczenie.autor %></td>
                <td><%= wypozyczenie.biblioteka %></td>
                <td><%= wypozyczenie.kod %></td>
                <td><%= wypozyczenie.start %></td>
                <td><%= wypozyczenie.koniec %></td>
                <td><%= wypozyczenie.zwrot %></td>
                <td style="text-align: center">
                  <% if (adminLogin && wypozyczenie.zwrot == null) { %>
                  <button
                    data-bs-toggle="modal"
                    data-bs-target="#zwrotModal"
                    class="return-book-btn"
                    data-wypozyczenie_id="<%= wypozyczenie.wypozyczenie_id %>"
                    data-numer_karty_bibliotecznej="<%= wypozyczenie.numer_karty_bibliotecznej %>">
                    > Zwróć
                  </button>
                  <% } else { %> Niedostępne <% } %>
                </td>
              </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- Modal do zwrotu -->
    <div
      class="modal fade"
      id="zwrotModal"
      tabindex="-1"
      aria-labelledby="zwrotModalLabel"
      aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <form
            action="/wypozyczenia/zwroc"
            method="post">
            <div class="modal-header">
              <h5
                class="modal-title"
                id="zwrotModalLabel">
                Zwróć książkę
              </h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>Upewnij się, że książka jest w dobrym stanie</p>
              <input
                type="hidden"
                id="wypozyczenie_id"
                name="wypozyczenie_id" />
              <input
                type="hidden"
                id="numer_karty_bibliotecznej"
                name="numer_karty_bibliotecznej" />
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal">
                Anuluj
              </button>
              <button
                type="submit"
                class="btn btn-danger">
                Zatwierdź zwrot
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <script>
      document.querySelectorAll(".return-book-btn").forEach(button => {
        button.addEventListener("click", async event => {
          const wypozyczenieId = button.getAttribute("data-wypozyczenie_id");
          const numer_karty_bibliotecznej = button.getAttribute(
            "data-numer_karty_bibliotecznej"
          );

          document.getElementById("wypozyczenie_id").value = wypozyczenieId;
          document.getElementById("numer_karty_bibliotecznej").value =
            numer_karty_bibliotecznej;
        });
      });
    </script>
  </body>
</html>
