<!DOCTYPE html>
<html lang="pl">
  <%- include('../templates/header') %>
  <body>
    <%- include('../templates/navbar') %><%- include('../templates/toast') %>
    <div class="container-lg">
      <div class="row">
        <div class="col-3 sidebar-menu">
          Menu: 
          <ul>
            <li class="sidebar-menu-item"><a href="/admin/book">Lista książek</a></li>
            <li class="sidebar-menu-item"><a href="/admin/author">Lista autorów</a></li>
            <li class="sidebar-menu-item"><a href="/admin/category">Kategorie</a></li>
            <li class="sidebar-menu-item"><a href="/admin/users">Lista użytkowników</a></li>
            <li class="sidebar-menu-item" style="background-color: wheat;"><a href="/admin/add-book">Dodaj książkę</a></li>
            <li class="sidebar-menu-item"><a href="/admin/add-author">Dodaj autora</a></li>
            <li class="sidebar-menu-item"><a href="/admin/add-user">Dodaj nowego użytkownika</a></li>
            <li class="sidebar-menu-item"><a href="/logout">Wyloguj się</a></li>
          </ul>
        </div>        
        <div class="col-9 login-box">
          <form action="/admin/add-book" method="post">
            <div class="row">
              <div class="col-12 mt-4">
                <label for="imie">Podaj tytuł</label>
                <input type="text" name="imie" required>
              </div>

              <div class="col-12 mt-4">
                <label>Wybierz autora</label>
                <select name="autor" required>
                  <option value="">-- Wybierz autora --</option>
                  <% autorzy.forEach(autor => { %>
                    <option value="<%= autor.autor_id %>"><%= autor.imie %> <%= autor.nazwisko %></option>
                  <% }) %>
                </select>
              </div>
              
              <div class="col-12 mt-4">
                <label>Wybierz kategorię</label>
                <select name="kategoria" required>
                  <option value="">-- Wybierz kategorię --</option>
                  <% kategorie.forEach(kategoria => { %>
                    <option value="<%= kategoria.kategoria_id %>"><%= kategoria.nazwa %></option>
                  <% }) %>
                </select>
              </div>

              <div class="col-12 mt-4">
                <label>Podaj rok wydania</label>
                <input type="date" name="data_wydania" value="data_wydania" required>
              </div>

              <div class="col-12 mt-4">
                <button type="submit">Dodaj książkę</button>
              </div>
            </div>
          </form>
          <form action="/admin/add-book/egzemplarze" method="post">
            <div class="row mt-5">
              <h3>Zamówienie egzemplarzy</h3>
              <div class="col-12 mt-4">
                <label for="kod">Podaj kod książki</label>
                <input type="text" id="kod" name="kod" required>
              </div>
          
              <div class="col-12 mt-4">
                <label for="biblioteka">Wybierz bibliotekę</label>
                <select id="biblioteka" name="biblioteka" required>
                  <option value="">-- Wybierz bibliotekę --</option>
                  <% biblioteki.forEach(biblioteka => { %>
                    <option value="<%= biblioteka.biblioteka_id %>"><%= biblioteka.miejscowosc %></option>
                  <% }) %>
                </select>
              </div>
          
              <div class="col-12 mt-4">
                <label for="ilosc">Podaj ilość zamówionych egzemplarzy</label>
                <input type="number" id="ilosc" name="ilosc" min="1" required>
              </div>
          
              <div class="col-12 mt-4">
                <button type="submit">Zamów</button>
              </div>
            </div>
          </form>
          
        </div>
    </div>
  </body>
</html>