<!DOCTYPE html>
<html lang="pl">
  <%- include('../templates/header') %>
  <body>
    <%- include('../templates/navbar') %><%- include('../templates/toast') %>
    <div class="container-lg">
      <div class="row">
        <div class="col-3 sidebar-menu">
          Menu: 
          <ul>
            <li class="sidebar-menu-item"><a href="/admin/book">Lista książek</a></li>
            <li class="sidebar-menu-item" style="background-color: wheat;"><a href="/admin/author">Lista autorów</a></li>
            <li class="sidebar-menu-item"><a href="/admin/category">Kategorie</a></li>
            <li class="sidebar-menu-item"><a href="/admin/users">Lista użytkowników</a></li>
            <li class="sidebar-menu-item"><a href="/admin/add-book">Dodaj książkę</a></li>
            <li class="sidebar-menu-item"><a href="/admin/add-author">Dodaj autora</a></li>
            <li class="sidebar-menu-item"><a href="/admin/add-user">Dodaj nowego użytkownika</a></li>
            <li class="sidebar-menu-item"><a href="/logout">Wyloguj się</a></li>
          </ul>
        </div>        
        <div class="col-9">
          <div class="row">
            <div class="col-12">
              <h3>Lista autorów</h3>
            </div>
            <div class="col-12 filter-section">
              <form class="filter-form" action="/admin/author" method="post">
                <div class="filter-inputs">
                  <input type="text" placeholder="Imię" id="filtr_autor_imie" name="filtr_autor_imie">
                  <input type="text" placeholder="Nazwisko" id="filtr_autor_nazwisko" name="filtr_autor_nazwisko">
                  <input type="text" placeholder="Narodowość" id="filtr_autor_narodowosc" name="filtr_autor_narodowosc">
                  <input type="number" placeholder="Min książek" id="filtr_autor_min_ksiazek" name="filtr_autor_min_ksiazek">
                  <input type="number" placeholder="Max książek" id="filtr_autor_max_ksiazek" name="filtr_autor_max_ksiazek">
                </div>

                <div class="filter-button">
                  <button type="submit">Filtruj autorów</button>
                </div>
              </form>
            </div>
            <div class="col-12 authors-table">
              <table border="1" class="tabelka">
                <thead>
                  <tr>
                    <th>Lp.</th>
                    <th>Imię</th>
                    <th>Nazwisko</th>
                    <th>Narodowość</th>
                    <th>Książki</th>
                  </tr>
                </thead>
                <tbody>
                  <% autorzy.forEach((autor, index) => { %>
                    <tr>
                      <td><%= index + 1 %></td>
                      <td><%= autor.imie %></td>
                      <td><%= autor.nazwisko %></td>
                      <td><%= autor.narodowosc %></td>
                      <td><%= autor.liczba_ksiazek %></td>
                    </tr>
                  <% }) %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
    </div>
  </body>
</html>