</html>
<!DOCTYPE html>
<html lang="pl">
  <%- include('../templates/header') %>
  <body>
    <%- include('../templates/navbar') %>
    <div class="container-lg">
      <div class="row">
        <div class="col-3 sidebar-menu">
          Menu: 
          <ul>
            <li class="sidebar-menu-item"><a href="/admin/book">Lista książek</a></li>
            <li class="sidebar-menu-item"><a href="/admin/author">Lista autorów</a></li>
            <li class="sidebar-menu-item"><a href="/admin/category">Kategorie</a></li>
            <li class="sidebar-menu-item" style="background-color: wheat;"><a href="/admin/users">Lista użytkowników</a></li>
            <li class="sidebar-menu-item"><a href="/admin/add-book">Dodaj książkę</a></li>
            <li class="sidebar-menu-item"><a href="/admin/add-author">Dodaj autora</a></li>
            <li class="sidebar-menu-item"><a href="/admin/add-user">Dodaj nowego użytkownika</a></li>
            <li class="sidebar-menu-item"><a href="/logout">Wyloguj się</a></li>
          </ul>
        </div>        
        <div class="col-9">
          <div class="row">
            <div class="col-12">
              <h3>Lista użytkowników do zarządzania</h3>
            </div>
            <div class="col-12 filter-section">
              <form class="filter-form">
                <div class="filter-inputs">
                  <input type="text" placeholder="Imię" id="filtr_imie" name="filtr_imie">
                  <input type="text" placeholder="Nazwisko" id="filtr_nazwisko" name="filtr_nazwisko">
                  <input type="text" placeholder="Nr karty" id="filtr_numer_karty" name="filtr_numer_karty">
                  <input type="text" placeholder="Min wypożyczeń" id="filtr_min_wypozyczen" name="filtr_min_wypozyczen">
                  <input type="text" placeholder="Max wypożyczeń" id="filtr_max_wypozyczen" name="filtr_max_wypozyczen">
                  <input type="date" placeholder="Urodzony po" id="filtr_urodzony_po" name="filtr_urodzony_po">
                  <input type="date" placeholder="Urodzony przed" id="filtr_urodzony_przed" name="filtr_urodzony_przed">
                </div>
            
                <div class="filter-sorting">
                  <label for="sortowanie">Sortuj według:</label>
                  <select id="sortowanie" name="sortowanie">
                    <option value="imie">Imię</option>
                    <option value="nazwisko">Nazwisko</option>
                    <option value="data_urodzenia">Data urodzenia</option>
                    <option value="ilosc_wypozyczen">Ilość wypożyczeń</option>
                  </select>
                </div>
            
                <div class="filter-button">
                  <button type="submit">Filtruj autorów</button>
                </div>
              </form>
            </div>
            
            <div class="col-12 authors-table">
              <table border="1" class="tabelka">
                <thead>
                  <tr>
                    <th>Lp.</th>
                    <th>Imię</th>
                    <th>Nazwisko</th>
                    <th>Data urodzenia</th>
                    <th>Nr. karty</th>
                    <th>Edytuj</th>
                    <th>Usuń</th>
                    <th>Zobacz wypożyczenia</th>
                  </tr>
                </thead>
                <tbody>
                  <% uzytkownicy.forEach((uzytkownik, index) => { %>
                    <tr>
                      <td><%= index + 1 %></td>
                      <td><%= uzytkownik.imie %></td>
                      <td><%= uzytkownik.nazwisko %></td>
                      <td><%= uzytkownik.data_urodzenia %></td>
                      <td><%= uzytkownik.card %></td>
                      <td><button>Edytuj</button></td>
                      <td><button>Usuń</button></td>
                      <td><button>Zobacz wypożyczenia</button></td>
                    </tr>
                  <% }) %>
                </tbody>
              </table>
            </div>
        </div>
    </div>
  </body>
</html>